body{
    background-color: rgb(19, 18, 18);
    display: flex;   
    box-sizing: border-box;
    color: white;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    outline-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

